<!DOCTYPE>

<!-- Sonia Anton Llanes -->
<!-- Fecha: 30/09/2020 -->

<!-- Ejercicio 1. Crea un programa que muestro el resultado de varias operaciones mediante alert()
mostrando el texto exacto de la comparación realizada y el resultado-->

<html lang="es">
	<head>
		<title>Practica A - Operadores - Conversiones</title>
		<script type="text/JavaScript">
		// Variables:
			var op1=(10==10);
			alert("La operacion \"10==10\" es: " + op1);
			
			var op2=(10===10);
			alert("La operacion \"10===10\" es: " + op2);
			
			var op3=(10===10.0);
			alert("La operacion \"10===10.0\" es: " + op3);
			
			var op4=("Web"=="web");
			alert("La operacion \"Web==web\" es: " + op4);
			
			var op5=("web">"web");
			alert("La operacion \"web>web\" es: " + op5);
			
			var op6=("Web"<"web");
			alert("La operacion \"Web<web\" es: " + op6);
			
			var op7=("123"==123);
			alert("La operacion \"\"123\"==123\" es: " + op7);
			
			var op8=("123"===123);
			alert("La operacion \"\"123\"===123\" es: " + op8);
			
			var op9=(parseInt("123")===123);
			alert("La operacion \"parseInt(\"123\")==123\" es: " + op4);
		
		</script>
	</head>
	<body>
	</body>
</html>