<!DOCTYPE html>
<html lang="en">

	<head>
		<title>INICIO | Pelabravo</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta content="index, follow">
		<meta name="revisit-after" content="7 days">
		<link rel="apple-touch-icon" sizes="120x120" href="/opencms/export/system/modules/cgb.plantillas/resources/pelabravo/img/favicon_120.png"/>
		<link rel="shortcut icon" href="/opencms/export/system/modules/cgb.plantillas/resources/pelabravo/img/favicon_16.png" type="image/png"/>

		<!-- coment rel="stylesheet" href="/opencms/export/system/modules/cgb.plantillas/resources/vecinos/css/cgbpage.css"> -->

		<script type="text/javascript" src="/opencms/opencms/system/modules/cgb.plantillas/resources/jquery/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="/opencms/opencms/system/modules/cgb.plantillas/resources/jquery/jquery-migrate-1.2.1.min.js"></script>
		<script type="text/javascript" src="/opencms/opencms/system/modules/cgb.plantillas/resources/bootstrap/js/bootstrap.min.js"></script>
	</head>
	
	<body>
		<div class="page-wrap wrapper">
			<div id="page-complete">
				<div class="container">
					<div class="row pie">   
						<div class="col-xs-12" >
							<div class="row cgblayout">
								<div class="col-xs-12" >
									<div class="header">
										<div class="navbar navbar-default" role="navigation">
											<div class="container">
													<!-- Brand and toggle get grouped for better mobile display -->
												<div class="navbar-header">
													<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
														<span class="sr-only">Toggle navigation</span>
														<span class="fa fa-bars"></span>
													</button>
													<a class="navbar-brand logo" href="/opencms/opencms/">
														<img src="/opencms/export/sites/pelabravo/.Archivos/Imagenes/LOGO-PELABRAVO.png_1134982123.png" width="250" height="100" alt="Logo" id="logo-header" />
													</a>
												</div>
													<!-- Menu -->       
												<div class="collapse navbar-collapse navbar-responsive-collapse">                                                             
													<ul class="nav navbar-nav">
														<li class="active"><a href="/opencms/opencms/index.html">INICIO</a></li>
														<li class="dropdown"><a href="/opencms/opencms/ayuntamiento/"class="dropdown-toggle" data-toggle="dropdown">AYUNTAMIENTO</a>
															<ul class="dropdown-menu">
																<li><a href="/opencms/opencms/ayuntamiento/saluda/">Saluda</a></li>
																<li><a href="/opencms/opencms/ayuntamiento/corporacion-municipal/">Corporación Municipal</a></li>
																<li class="dropdown-submenu"><a href="/opencms/opencms/ayuntamiento/actas/"class="dropdown-toggle" data-toggle="dropdown">Actas</a>
																	<ul class="dropdown-menu">
																		<li><a href="/opencms/opencms/ayuntamiento/actas/juntas-de-gobierno/">Juntas de Gobierno</a></li>
																		<li><a href="/opencms/opencms/ayuntamiento/actas/plenos/">Plenos</a></li>
																	</ul>
																</li>
																<li class="dropdown-submenu"><a href="/opencms/opencms/ayuntamiento/ordenanzas/" class="dropdown-toggle" data-toggle="dropdown">Ordenanzas</a>
																	<ul class="dropdown-menu">
																		<li><a href="/opencms/opencms/ayuntamiento/ordenanzas/ordenanzas-fiscales/">Ordenanzas Fiscales</a></li>
																		<li><a href="/opencms/opencms/ayuntamiento/ordenanzas/reglamentos-bandos-y-ordenanzas-no-fiscales/">Reglamentos, Bandos y Ordenanzas no fiscales</a></li>
																		<li class="dropdown-submenu"><a href="/opencms/opencms/ayuntamiento/urbanismo/" class="dropdown-toggle" data-toggle="dropdown">Urbanismo</a>
																			<ul class="dropdown-menu">
																				<li><a href="/opencms/opencms/ayuntamiento/urbanismo/normas-urbanisticas-municipales/">Normas Urbanísticas Municipales</a></li>
																				<li><a href="/opencms/opencms/ayuntamiento/urbanismo/servicios-tecnicos/">Servicios Técnicos</a></li>
																				<li><a href="/opencms/opencms/ayuntamiento/urbanismo/planeamiento-con-aprobacion-definitiva/">Planeamiento con Aprobación Definitiva</a></li>
																				<li><a href="/opencms/opencms/ayuntamiento/urbanismo/informacion-publica-planeamiento-en-tramitacion/">Información Pública Planeamiento en Tramitación</a></li>
																			</ul>
																		</li>
																		<li><a href="/opencms/opencms/ayuntamiento/dependencias-municipales/">Dependencias Municipales</a></li>
																		<li class="dropdown-submenu"><a href="/opencms/opencms/ayuntamiento/perfil-del-contratante/" class="dropdown-toggle" data-toggle="dropdown">Perfil Del Contratante</a>
																			<ul class="dropdown-menu">
																				<li><a hre="/opencms/opencms/ayuntamiento/perfil-del-contratante/page/">Contratación Año 2020</a></li>
																				<li><a href="/opencms/opencms/ayuntamiento/perfil-del-contratante/Contratacion-Ano-2019/">Contratación Año 2019</a></li>
																				<li><a href="/opencms/opencms/ayuntamiento/perfil-del-contratante/contratacion-ano-2018-00001/">Contratación Año 2018</a></li>
																				<li><a href="/opencms/opencms/ayuntamiento/perfil-del-contratante/Contratacion-Ano-2017/">Contratación Año 2017</a></li>
																				<li><a href="/opencms/opencms/ayuntamiento/perfil-del-contratante/contratacion-ano-2016/">Contratación Año 2016</a></li>
																				<li><a href="/opencms/opencms/ayuntamiento/perfil-del-contratante/contratacion-ano-2015/">Contratación Año 2015</a></li>
																				<li><a href="/opencms/opencms/ayuntamiento/perfil-del-contratante/contratacion-ano-2014/">Contratación Año 2014</a></li>
																				<li><a href="/opencms/opencms/ayuntamiento/perfil-del-contratante/contratacion-ano-2013/">Contratación Año 2013</a></li>
																				<li><a href="/opencms/opencms/ayuntamiento/perfil-del-contratante/contratacion-ano-2012/">Contratación Año 2012</a></li>
																			</ul>
																		</li>
																		<li><a href="/opencms/opencms/ayuntamiento/punto-de-informacion-catastral/">Punto de Información Catastral</a></li>
																		<li class="dropdown-submenu"><a href="/opencms/opencms/ayuntamiento/Oferta-de-Empleo-Publico/" class="dropdown-toggle" data-toggle="dropdown">Oferta de Empleo Público</a>
																			<ul class="dropdown-menu">
																				<li><a href="/opencms/opencms/ayuntamiento/Oferta-de-Empleo-Publico/2020/">2020</a></li>
																			</ul>
																		</li>
																	</ul>
																</li>
																<li class="dropdown"><a href="/opencms/opencms/el-municipio/" class="dropdown-toggle" data-toggle="dropdown">EL MUNICIPIO</a>
																	<ul class="dropdown-menu">
																		<li><a href="/opencms/opencms/el-municipio/informacion-general/">Información general</a></li>
																		<li><a href="/opencms/opencms/el-municipio/localizacion/">Localización</a></li>
																		<li><a href="/opencms/opencms/el-municipio/instalaciones-y-servicios/">Instalaciones y servicios</a></li>
																		<li><a href="/opencms/opencms/el-municipio/historia/">Historia</a></li>
																		<li><a href="/opencms/opencms/el-municipio/escudo-de-armas/">Escudo de Armas</a></li>
																		<li><a href="/opencms/opencms/el-municipio/demografia/">Demografía</a></li>
																		<li><a href="/opencms/opencms/el-municipio/transportes/">Transportes</a></li>
																		<li><a href="/opencms/opencms/el-municipio/fiestas-patronales/">Fiestas Patronales</a></li>
																		<li><a href="/opencms/opencms/el-municipio/Informacion-meteorologica.html">Información meteorológica</a></li>
																		<li><a href="/opencms/opencms/el-municipio/galeria-de-fotos/">Galeria de fotos</a></li>
																	</ul>
																</li>
																<li class="dropdown"><a href="/opencms/opencms/cultura-y-deportes/" class="dropdown-toggle" data-toggle="dropdown">CULTURA Y DEPORTES</a>
																	<ul class="dropdown-menu">
																		<li><a href="/opencms/opencms/cultura-y-deportes/Actividades.html">Actividades</a></li>
																		<li><a href="/opencms/opencms/cultura-y-deportes/fiestas-patronales/">Fiestas Patronales</a></li>
																		<li><a href="/opencms/opencms/cultura-y-deportes/cursos/">Cursos</a></li>
																		<li><a href="/opencms/opencms/cultura-y-deportes/biblioteca/">Biblioteca</a></li>
																		<li><a href="/opencms/opencms/cultura-y-deportes/deportes/">Deportes</a></li>
																		<li><a href="/opencms/opencms/cultura-y-deportes/asociaciones/">Asociaciones</a></li>
																	</ul>
																</li>
																<li class="dropdown"><a href="/opencms/opencms/atencion-al-ciudadano/" class="dropdown-toggle" data-toggle="dropdown">ATENCIÓN AL CIUDADANO</a>
																	<ul class="dropdown-menu">
																		<li><a href="/opencms/opencms/atencion-al-ciudadano/Buzon-del-ciudadano.html">Buzón del ciudadano</a></li>
																		<li><a href="/opencms/opencms/atencion-al-ciudadano/solicitudes/">Solicitudes</a></li>
																		<li><a href="/opencms/opencms/atencion-al-ciudadano/El-Ayuntamiento-en-Facebook.html">El Ayuntamiento en Facebook</a></li>
																		<li><a href="/opencms/opencms/atencion-al-ciudadano/punto-de-informacion-catastral/">Punto de Información Catastral</a></li>
																		<li><a href="/opencms/opencms/atencion-al-ciudadano/enlaces-de-interes/">Enlaces de Interés</a></li>
																		<li><a href="/opencms/opencms/atencion-al-ciudadano/Calendario-BOCYL.html">Calendario BOCYL</a></li>
																		<li><a href="/opencms/opencms/atencion-al-ciudadano/punto-limpio/">Punto Limpio</a></li>
																	</ul>
																</li>
																<li><a href="/opencms/opencms/tramites-y-gestiones/">TRÁMITES Y GESTIONES</a></li>
															</ul>
														</li>
													</ul>
													
													<div class="search-open">
														<form class="form-inline" name="searchFormHeader" action="/opencms/opencms/" method="post">
															<div class="input-group animated fadeInDown" id="searchContentHeader">
																<label for="searchWidgetAutoCompleteHeader">Buscar:</label>
																<input type="text" name="searchWidgetAutoCompleteHeader" class="form-control" placeholder="Buscar" id="searchWidgetAutoCompleteHeader"/>
																<span class="input-group-btn">
																	<button class="btn-u" type="button" onclick="this.form.submit(); return false;"><em class="fa fa-search"></em></button>
																</span>
															</div>
														</form>
													</div>
												</div><!-- /collapse -->
											</div><!-- /container -->
										</div><!-- /navbar -->
												<!--=== End Navbar ===-->
													
									</div><!--/header -->
												<!--=== End Header ===-->
													
													<!--=== Breadcrumbs ===-->
									<div class="breadcrumbs">
										<div class="container">
											<h1 class="pull-left">INICIO</h1>
											<ul class="pull-right breadcrumb hidden-xs"></ul>
										</div><!--/container-->
									</div><!--/breadcrumbs-->
												<!--=== End Breadcrumbs ===-->
											
								</div><!-- /col-xs-12 -->
										
								<div>
									<div class="margin-bottom-20" style="height: 300px; ">
													<!--=== Slider ===-->
										<div class="banner" data-speed="2000" data-autoplayspeed="9000" data-dots="true" data-arrows="false" data-fade="true">
											<div style="height: 300px; background-image:url(/opencms/export/sites/pelabravo/.Archivos/Imagenes/SLIDE-PELABRAVO.jpg); background-position: center center; background-size: cover;">
												<div class="contenidoSlide">
													<div class="fondoSlide-0">
														<p>Bienvenido al Ayuntamiento de Pelabravo</p>
													</div>
												</div>
											</div>
											<div style="height: 300px; background-image:url(/opencms/export/sites/pelabravo/.Archivos/Imagenes/Iglesia.jpg); background-position: center center; background-size: cover;">
											</div>
										</div>
												<!--=== End Slider ===-->
												
									</div>
								</div>
								
							</div><!-- /row cgblayout -->
						</div><!-- /col-xs-12 -->
					</div><!-- /row pie -->
				</div><!-- /container -->
		
				<div class="container">
					<div class="row pie">   
						<div class="col-xs-12" >
							<div class="row cgblayout">
								<div class="col-xs-12 col-sm-9">
									<div class="headline headline-md">
										<h2 >Noticias</h2>
									</div>
									<div class="posts lists blog-item">
										<div id="list_large_pages_a028eb11-ba0f-11e5-a838-b5424b3aeb6f">
											<div id="list_large_page_a028eb11-ba0f-11e5-a838-b5424b3aeb6f_1">
												<div class="row margin-bottom-20">
													<div class="col-md-8">
														<h2><a href="/opencms/opencms/noticias/Visita-Bibliobus-17-09-2020/">Visita Bibliobús 17/09/2020</a></h2>
														<p style="font-style: italic;">10 de septiembre de 2020 9:28</p>
														<p>Diputación informa que la próxima visita del Bibliobús a Pelabravo y Nuevo Naharros será el día 17/09/2020 (jueves).</p>
														<div class="margin-bottom-10"></div>
														<a href="/opencms/opencms/noticias/Visita-Bibliobus-17-09-2020/" class="btn-u btn-u-blue">Leer más</a>
													</div>
												</div>
												<div class="row margin-bottom-20">
													<div class="col-md-4 search-img">
														<img src="/opencms/export/sites/pelabravo/.Archivos/Imagenes/Horario-autobus-Naharros-07092020.png_336762184.png" alt="" class="img-responsive" />
													</div>
													<div class="col-md-8">
														<h2><a href="/opencms/opencms/noticias/Actualizacion-de-horarios-del-autobus-de-Nuevo-Naharros-una-vez-iniciado-el-curso/">Actualización de horarios del autobús de Nuevo Naharros una vez iniciado el curso</a></h2>
														<p style="font-style: italic;">9 de agosto de 2020 12:35</p>
														<p></p>
														<div class="margin-bottom-10"></div>
														<a href="/opencms/opencms/noticias/Actualizacion-de-horarios-del-autobus-de-Nuevo-Naharros-una-vez-iniciado-el-curso/" class="btn-u btn-u-blue">Leer más</a>
													</div>
												</div>
												<div class="row margin-bottom-20">
													<div class="col-md-8">
														<h2><a href="/opencms/opencms/noticias/Bando-de-Alcaldia-08-2020-corte-circulacion-Cl-Pegaso-acceso-camino-Calvarrasa-de-Arriba/"> Bando de Alcaldía 08-2020 corte circulación Cl Pegaso (acceso camino Calvarrasa de Arriba)</a></h2>
														<p style="font-style: italic;">5 de agosto de 2020 12:35</p>
														<p>La Calle Pegaso en su conexión con el Camino de Calvarrasa de Arriba permanecerá cortado por ejecución de obras de urbanización de la unidad de normalización “El Barrero”. ...</p>
														<div class="margin-bottom-10"></div>
														<a href="/opencms/opencms/noticias/Bando-de-Alcaldia-08-2020-corte-circulacion-Cl-Pegaso-acceso-camino-Calvarrasa-de-Arriba/" class="btn-u btn-u-blue">Leer más</a>
													</div>
												</div>
												<div class="row margin-bottom-20">
													<div class="col-md-8">
														<h2><a href="/opencms/opencms/noticias/Publicacion-de-Ordenanza-n-29-Reguladora-del-transito-de-vehiculos-pesados/">Publicación de Ordenanza nº 29 Reguladora del tránsito de vehículos pesados</a></h2>
														<p style="font-style: italic;">21 de julio de 2020 12:12</p>
														<p>En el BOP nº 138 de 21 de julio de 2020, se ha publicado texto íntegro de la Ordenanza nº 29 Reguladora de la utilización de las vías públicas municipales para el tránsito de vehículos pesados</p>
														<div class="margin-bottom-10"></div>
														<a href="/opencms/opencms/noticias/Publicacion-de-Ordenanza-n-29-Reguladora-del-transito-de-vehiculos-pesados/" class="btn-u btn-u-blue">Leer más</a>
													</div>
												</div>
												<div class="row margin-bottom-20">
													<div class="col-md-8">
														<h2><a href="/opencms/opencms/noticias/Exposicion-publica-Padron-Tributario-de-la-Tasa-por-el-servicios-de-basura.-Julio2019-Junio2020/">Exposición pública Padrón Tributario de la Tasa por el servicios de basura. Julio2019-Junio2020</a></h2>
														<p style="font-style: italic;">9 de julio de 2020 9:55</p>
														<p>En BOP nº 128 de fecha 08/07/2020 se ha publicado anuncio de exposición pública del Padrón tributario provisional de la Tasa por la prestación del servicio de recogida de basuras del período ...</p>
														<div class="margin-bottom-10"></div>
														<a href="/opencms/opencms/noticias/Exposicion-publica-Padron-Tributario-de-la-Tasa-por-el-servicios-de-basura.-Julio2019-Junio2020/" class="btn-u btn-u-blue">Leer más</a>
													</div>
												</div>
												<div class="row margin-bottom-20">
													<div class="col-md-8">
														<h2><a href="/opencms/opencms/noticias/Publicacion-resultado-de-valoracion-de-merito-seleccion-monitor-sociocultural/">Publicación resultado de valoración de mérito selección monitor sociocultural</a></h2>
														<p style="font-style: italic;">25 de junio de 2020 23:10</p>
														<p>Resultado valoración méritos puesto monitor sociocultural</p>
														<div class="margin-bottom-10"></div>
														<a href="/opencms/opencms/noticias/Publicacion-resultado-de-valoracion-de-merito-seleccion-monitor-sociocultural/" class="btn-u btn-u-blue">Leer más</a>
													</div>
												</div>
												<div class="row margin-bottom-20">
													<div class="col-md-8">
														<h2><a href="/opencms/opencms/noticias/IP-Autorizacion-de-uso-en-suelo-urbano-no-consolidado.-2563201TL8326S0001XR/">IP Autorización de uso en suelo urbano no consolidado. 2563201TL8326S0001XR</a></h2>
														<p style="font-style: italic;">25 de junio de 2020 15:09</p>
														<p>1 - Memoria autorización de uso provisional 2 - Anuncio IP BOCYL</p>
														<div class="margin-bottom-10"></div>
														<a href="/opencms/opencms/noticias/IP-Autorizacion-de-uso-en-suelo-urbano-no-consolidado.-2563201TL8326S0001XR/" class="btn-u btn-u-blue">Leer más</a>
													</div>
												</div>
												<div class="row margin-bottom-20">
													<div class="col-md-8">
														<h2><a href="/opencms/opencms/noticias/Reinicio-servicios-y-reapertura-instalaciones-municipales-a-partir-22-06-2020/">Reinicio servicios y reapertura instalaciones municipales a partir 22/06/2020</a></h2>
														<p style="font-style: italic;">22 de junio de 2020 10:06</p>
														<p>A partir del lunes 22 de junio
															*Se retoma el horario habitual en Puntos Limpios:
															Lunes, miércoles y viernes de 13 a 15 h
															En la web municipal se indican los residuos autorizados y normas de uso. ...</p>
														<div class="margin-bottom-10"></div>
														<a href="/opencms/opencms/noticias/Reinicio-servicios-y-reapertura-instalaciones-municipales-a-partir-22-06-2020/" class="btn-u btn-u-blue">Leer más</a>
													</div>
												</div>
												<div class="row margin-bottom-20">
													<div class="col-md-4 search-img">
														<img src="/opencms/export/sites/pelabravo/.Archivos/Imagenes/campamento-cartel-page-001.jpg_181394455.jpg" alt="" class="img-responsive" />
													</div>
													<div class="col-md-8">
														<h2><a href="/opencms/opencms/noticias/Campamento-de-Verano-ano-2020/">Campamento de Verano año 2020</a></h2>
														<p style="font-style: italic;">21 de junio de 2020 12:33</p>
														<p>El Ayuntamiento de Pelabravo, organiza un Campamento Urbano para este verano, durante los meses de julio y agosto, para niños entre 4 y 12 años. ...</p>
														<div class="margin-bottom-10"></div>
														<a href="/opencms/opencms/noticias/Campamento-de-Verano-ano-2020/" class="btn-u btn-u-blue">Leer más</a>
													</div>
												</div>
												<div class="row margin-bottom-20">
													<div class="col-md-8">
														<h2><a href="/opencms/opencms/noticias/Listado-provisional-de-admitidos-seleccion-de-1-peon-de-obras-y-servicios-interino./">Listado provisional de admitidos selección de 1 peón de obras y servicios interino.</a></h2>
														<p style="font-style: italic;">16 de junio de 2020 17:54</p>
														<p>Por Resolución de Alcaldía de fecha 16 de junio, se ha aprobado el listado provisional de admitidos en el proceso de selección de 1 peón de obras y servicios interino.
															Listado provisional de admitidos</p>
														<div class="margin-bottom-10"></div>
														<a href="/opencms/opencms/noticias/Listado-provisional-de-admitidos-seleccion-de-1-peon-de-obras-y-servicios-interino./" class="btn-u btn-u-blue">Leer más</a>
													</div>
												</div>
											</div>
										</div>
									</div><!-- /posts lists blog-item -->
								</div><!-- /col-xs-12 col-sm-9 -->
							</div><!-- /row cgblayout -->					
							<div class="hidden-xs col-sm-3">
								<div class="margin-bottom-20" class="">
									<a href="https://www.facebook.com/ayuntamiento.depelabravo">
										<span >
											<img style="margin-left: auto; margin-right: auto; display: block;" src="/opencms/export/sites/pelabravo/.Archivos/Imagenes/Lofo-Faceook.jpg" class="img-responsive" alt="Logo Facebook" title="Logo Facebook">
										</span>
									</a>
								</div>
							</div>               
							<div class="margin-bottom-20">
								<div class="">
									<a href="/opencms/opencms/atencion-al-ciudadano/punto-limpio/">
										<span>
											<img style="margin-left: auto; margin-right: auto; display: block;"	
											src="/opencms/export/sites/pelabravo/.Archivos/Imagenes/puntolimpio.png" 
											class=" img-responsive " alt="Nueva imagen" title="Nueva imagen " />
										</span>
									</a>
								</div>
							</div>               
							<div class="margin-bottom-20">
								<div class="">
									<a href="https://pelabravo.sedelectronica.es/transparency">
										<span>
											<img style="margin-left: auto; margin-right: auto; display: block;"
												src="/opencms/export/shared/Imagenes/transparencia_portal.jpg" 
												class=" img-responsive " 
												alt="Portal de transparencia" 
												title="Portal de transparencia " />
										</span>
									</a>
								</div>
							</div>               
							<div class="margin-bottom-20">
								<div class="">
									<a href="http://pelabravo.sedelectronica.es/">
										<span>
											<img style="margin-left: auto; margin-right: auto; display: block;"
												src="/opencms/export/sites/pelabravo/.Archivos/Imagenes/sede-electronica.jpg" 
												class=" img-responsive " alt="Sede electrónica" title="Sede electrónica " />
										</span>
									</a>
								</div>
							</div>               
							<div class="margin-bottom-20">
								<div class="">
									<a href="https://contrataciondelestado.es/wps/portal/!ut/p/b0/DccxDoAgDADA1zg51EEXEwcw0Qc4KGxNQNIIhWD1_XrbgYUDLONLAYUyY_xvnPclEl9j8fWkOGeWioIsHnawYMnpAia01TQdY79I3p5wi9JrHdQ0QUlJfdT0i5s!/">
										<span >
											<img style="margin-left: auto; margin-right: auto; display: block;"
												src="/opencms/export/sites/pelabravo/.Archivos/Imagenes/Perfil-del-contratante.jpg" 
												class=" img-responsive " alt="Perfil del contratante" title="Perfil del contratante " />
										</span>
									</a>
								</div>
							</div>               
							<div class="margin-bottom-20">
								<div class="">
									<a href="/opencms/opencms/ayuntamiento/urbanismo/">
										<span >
											<img style="margin-left: auto; margin-right: auto; display: block;"
												src="/opencms/export/sites/pelabravo/.Archivos/Imagenes/Urbanismo.jpg" 
												class=" img-responsive " alt="Urbanismo" title="Urbanismo " />
										</span>
									</a>
								</div>
							</div>               
							<div class="margin-bottom-30 colored-box colored-box-border-style-none colored-box-line-none-color-red  colored-box-blue">
								<h2 >Teléfonos de interés</h2>
								<div >
									<div>
										<p><strong><span style="color: #ccffff;">Ayuntamiento: </span> 923 305081 </strong></p>
										<p><strong><span style="color: #ccffff;">Consultorio Nuevo Naharros:</span> 923 306271</strong></p>
										<p><strong><span style="color: #ccffff;">Consultorio Pelabravo: </span>923 160286</strong></p>
										<p><strong><span style="color: #ccffff;">Registro Civil:</span> 923 305081</strong> </p>
										<p><strong><span style="color: #ccffff;">Mancomunidad del Azud:</span> 923 306024</strong></p>
									</div>		
								</div>	
							</div>
							<div class="margin-bottom-20">
								<div class="">
									<a href="/opencms/opencms/atencion-al-ciudadano/enlaces-de-interes/">
										<span >
											<img style="margin-left: auto; margin-right: auto; display: block;"
												src="/opencms/export/shared/Imagenes/enlaces_de_interes.jpg" 
												class=" img-responsive " alt="" title=" " />
										</span>
									</a>
								</div>
							</div>               
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row pie">   
					<div class="colorpie" >
						<div class="row cgblayout">
							<div class="col-sm-4" >
								<div class="margin-bottom-30 none">
									<div>
										<div>
											<h3 style="text-align: center;"> <img style="width: 48px;" title="home (Locked by CGB CGB Informática (Admin))" src="/opencms/export/system/modules/cgb.plantillas/resources/pelabravo/img/home.png" alt="" /></h3>
											<h3 style="text-align: center;"><span style="color: #ffffff;">Ayuntamiento de Pelabravo</span></h3>
											<p style="text-align: center;"><span style="color: #ffffff;">Ronda Cilla S/N. 37181 Pelabravo </span></p>
											<p style="text-align: center;"><span style="color: #ffffff;">Salamanca<br /></span></p>
										</div>		
									</div>	
								</div>
							</div>
							<div class="col-sm-4">
								<div class="margin-bottom-30 none">
									<div>
										<div>
											<h3 style="text-align: center;"><span style="color: #ffffff;"><img style="width: 48px;" title="mail (Locked by CGB CGB Informática (Admin))" src="/opencms/export/system/modules/cgb.plantillas/resources/pelabravo/img/mail.png" alt="" /></span></h3>
											<h3 style="text-align: center;"><span style="color: #ffffff;">Contacto</span></h3>
											<p style="text-align: center;"><span style="color: #ffffff;">Teléfono: 923 305081 </span></p>
											<p style="text-align: center;"><span style="color: #ffffff;">Fax: 923 374015  </span></p>
											<p style="text-align: center;"><span style="color: #ffffff;">Correo electrónico: <a style="color: #ffffff;" href="mailto:ayuntamiento@pelabravo.es">ayuntamiento@pelabravo.es</a></span></p>
										</div>		
									</div>	
								</div>
							</div>
							<div class="col-sm-4" >
								<div class="margin-bottom-30 none">
									<div>
										<div>
											<p><img style="width: 58px; display: block; margin-left: auto; margin-right: auto;" title="like" src="/opencms/export/shared/Imagenes/like.png" alt="" /></p>
											<p style="text-align: center;"><span style="font-size: 18pt; color: #ffffff;">Síguenos</span></p>		
										</div>	
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div> <!--/page-wrap-->

		<div id="fb-root"></div>
		
		<script>(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		</script>
		
	</body>
</html>
