<!DOCTYPE>

<!-- Sonia Anton Llanes -->
<!-- Fecha: 02/12/2020 -->
<!-- Practica 10 - Objetos Screen y Location -->


<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Practica 10 - Objetos Screen y Location</title>
		<script type="text/JavaScript" src="script.js"></script>	
		<link rel="stylesheet" href="css/estilo.css">
	</head>
	<body>
		<header>
			<p>-- Sonia Antón Llanes --</p>
			<h2>Nueva Window</h2>
		</header>
		
		<section class="ejercicios">
			<h3>Propiedades Objeto screen</h3>
			<article>
				<p><span>screen.availHeigth:</span> 728</p>
				<p><span>screen.availWidth:</span> 1366</p>
				<p><span>screen.colorDepth:</span> 24</p>
				<p><span>screen.heigth:</span> 768</p>
				<p><span>screen.width:</span> 1366</p>
			</article>
		</section>
		
		<section class="ejercicios">
			<h3>Propiedades Objeto location</h3>
			<article>
				<p><span>location.hash:</span> </p>
				<p><span>location.host:</span> </p>
				<p><span>location.hostname:</span> </p>
				<p><span>location.href:</span> file:///C:/Users/Sonia/OneDrive%20-%20Educacyl/DAW2/DWEC%20-%20Leticia/UNIDAD%203/10.%20Practica%2010%20-%20Objeto%20Screen%20y%20Location/index.html</p>
				<p><span>location.orign:</span> undefined</p>
				<p><span>location.pathname:</span> /C:/Users/Sonia/OneDrive%20-%20Educacyl/DAW2/DWEC%20-%20Leticia/UNIDAD%203/10.%20Practica%2010%20-%20Objeto%20Screen%20y%20Location/index.html</p>
				<p><span>location.port:</span> </p>
				<p><span>location.protocol:</span> file:///C:/Users/Sonia/OneDrive%20-%20Educacyl/DAW2/DWEC%20-%20Leticia/UNIDAD%203/10.%20Practica%2010%20-%20Objeto%20Screen%20y%20Location/index.html</p>
				<p><span>location.search:</span> undefined</p>
			</article>
		</section>

	</body>
</html>