<!DOCTYPE>

<!-- Sonia Anton Llanes -->
<!-- Fecha: 01/12/2020 -->
<!-- Practica B - Objeto window.document -->


<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Practica B - Objeto window.document</title>
		<script type="text/JavaScript" src="../../../js/T3/B/script.js"></script>	
		<link rel="stylesheet" href="../../../css/T3/B/estilo.css">
	</head>
	<body id="body">
		<header>
			<p>-- Sonia Antón Llanes --</p>
			<h2>DWEC - JavaScript T3. Utilización de Objetos Predefinidos</h2>
			<h1>Práctica B. Objeto window.document</h1>
		</header>
		
		<section class="ejercicios">
			<article>
				<h3>Ejercicio 1. Abrir y cerrar ventanas</h3>
				<button onclick="abrir()">Abrir 5 Ventanas Vacias</button>
			</article>
			<article>
				<h3>Cargar en una ventana anterior la web seleccionada</h3>
				<button onclick="google()">Google</button>
				<button onclick="w3school()">W3school</button>
				<button onclick="github()">Github</button>
				<button onclick="wikipedia()">Wikipedia</button>
				<button onclick="youtube()">Youtube</button>
			</article>
			<article>
				<button onclick="cerrar()">Cerrar Ventana</button>
			</article>
		</section>
	</body>
</html>