<!DOCTYPE>

<!-- Sonia Anton Llanes -->
<!-- Fecha: 01/10/2020 -->

<!-- Crea un fichero HTML que contenga los siguientes scripts. 
 Cada script debe visualizar en un alert los siguientes textos tal cual están aquí escritos abajo. 
 Es obligatorio usar caracteres de escape tanto de comillas simples, dobles o saltos de línea. 
 Recuerda que la sintaxis del alert es: alert ("esto es un alert");

 Script1:
 Hola, esto es "un comentario".
    y este texto está tabulado

 Script 2: 
 Hola, esto es el "script 2", y esto es un texto 'absurdo' :)
-->


<html lang="es">
	<head>
		<title>Practica 0 - Tipos de Datos</title>
		<script type="text/JavaScript">
			// Script1:
			alert("Hola, esto es \"un comentario\". \n \t y este texto está tabulado");
			
			//Script2:
			alert("Hola, esto es el \"script 2\", y esto es un texto \'absurdo\'");
		
		</script>
	</head>
	<body>
	</body>
</html>