<!DOCTYPE html>

<!-- Author: Sonia Antón Llanes -->
<!-- Created on: 30-octubre-2020 -->
<!-- Index Ejercicios del Tema 3 DWEC -->

<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Sonia Anton Llanes - DWEC: ejercicios Tema 3</title>
        <meta name="author" content="Sonia Antón Llanes">
        <meta name="description" content="Proyecto DWEC">
        <meta name="keywords" content="">
        <link href="../../css/estilotema.css" rel="stylesheet" type="text/css">
        <link href="../../assets/images/mariposa_vintage.png" rel="icon" type="image/png">	
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    </head>
    <body class="container">
		<header class="header">
			<h1 class="h1">Desarrollo de Aplicaciones Web</h1>
		</header>
		<nav class="menu">
			<ul>
				<a href=""><li>Inicio</li></a>
				<a href=""><li>DWES</li></a>
				<a href="../../index.html"><li class="active">DWEC</li></a>
				<li>DAW</li>
				<li>DIW</li>
				<li>EIE</li>
			</ul>
		</nav>
		<main class="main">
            <section>
                <h2>Desarrollo Web Entorno Cliente</h2>
				<h3>Tema 3. Utilización de objetos predefinidos</h3>
                            
                <table>
                    <tr>
                        <th><h4>Prácticas</h4></th>
                        <th>Enunciado</th>
                        <th>HTML</th>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 00 - Objeto predefinido Date</td>
                        <td class="tdimg"><a href="../../assets/statement/T3/00. Práctica 00 - Objeto predefinido Date.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="00/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
					<tr class="tr">
                        <td class="ejercicio">Práctica A - Objeto predefinido Date</td>
                        <td class="tdimg"><a href="../../assets/statement/T3/Práctica A - Objeto predefinido Date.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="A/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>					
                    <tr class="tr">
                        <td class="ejercicio">Práctica 01 - Objeto predefinido Math y Number</td>
                        <td class="tdimg"><a href="../../assets/statement/T3/01. Práctica 01 - Objeto predefinido Math y Number.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="01/index.html"><img src="../../assets/images/pdf.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 02 - Objetos - Date, Math y Number</td>
                        <td class="tdimg"><a href="../../assets/statement/T3/02. Práctica 02 - Objetos - Date, Math y Number.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="02/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 03 - Objeto predefinido String</td>
                        <td class="tdimg"><a href="../../assets/statement/T3/03. Práctica 03 - Objeto predefinido String.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="03/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 04 - Objeto predefinido String - CRUCIGRAMA</td>
                        <td class="tdimg"><a href="../../assets/statement/T3/04. Práctica 04 - Objeto predefinido String.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="04/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 05 - Objeto Window; open() y close()</td>
                        <td class="tdimg"><a href="../../assets/statement/T3/05. Práctica 05 - Objeto window 1.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="05/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 06 - Objeto Window: focus(), setInterval() y clearInterval()</td>
                        <td class="tdimg"><a href="../../assets/statement/T3/06. Práctica 06 - Objeto window 2.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="06/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 07 - Objeto Document: propiedades y métodos</td>
                        <td class="tdimg"><a href="../../assets/statement/T3/07. Práctica 07 - Objeto document 1.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="07/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 08 - Objeto Document: jugando con estilos</td>
                        <td class="tdimg"><a href="../../assets/statement/T3/08. Práctica 08 - Objeto document 2.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="08/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica B - Objeto window + document</td>
                        <td class="tdimg"><a href="../../assets/statement/T3/B. Práctica B - Objeto window.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="B/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 09 - Objeto Navigator</td>
                        <td class="tdimg"><a href="../../assets/statement/T3/09. Práctica 09 - Objeto navigator.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="09/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 10 - Objeto Screen y Location</td>
                        <td class="tdimg"><a href="../../assets/statement/T3/10. Práctica 10 - Objeto screen y location.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="10/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 11 - Objetos BOM</td>
                        <td class="tdimg"><a href="../../assets/statement/T3/11. Práctica 11 - Objetos BOM.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="11/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                </table>
            </section>
        </main>
        <footer class="footer">
            <nav class="fnav">
                <ul>
                    <li class="ftexto">&copy 2020-21. Sonia Anton LLanes</li>
                    <li><a href="../../assets/docs/curriculum_SALL.pdf" target="_blank"><img src="../../assets/images/CV.png" alt="imagen_CV"></a>
                        <img src="../../assets/images/linkedin.png" alt="imagen_linkedin">
                        <a href="https://github.com/SoniaALLSauces/proyectoDWEC" target="_blank"><img src="../../assets/images/github.png" alt="imagen_github"></a>
                    </li>
                </ul>
            </nav>
        </footer>    
    </body>
</html>