<!DOCTYPE>

<!-- Sonia Anton Llanes -->
<!-- Fecha: 30/09/2020 -->

<!-- Ejercicio 1. Crea un programa en el que crees 5 variables numéricas(entero, decimal, científico, octal y hexadecimal).
 •Asigna a las variables los siguientes números: 1356, 34.3, 135e6, 01357 y 0x1354.
 •Muestra con 5 alerts el valor de las variables utilizando la siguiente sentencia:alert (“Número entero”+ entero)-->
 
<!-- 2.Crea un programa en el que crees 4 variables de tipo cadena con los siguientesvalores: “Hola”, “5”, “7”, “24” y “Adiós”.
 •Muestra en un alertunafrase que incluya comillas simples.
 •Muestra en un alert que ocupe una línea las variables 1º y 4º separadas por un salto de línea.
 •Muestra en un alert la suma de las variables 2º y 3º.
 •Muestra en un alert la suma de todas las variables.
-->
<html lang="es">
	<head>
		<title>Practica 0 - Tipos de Datos</title>
		<script type="text/JavaScript">
		
		/*	Ejercicio 1.
		//	Creo cinco variables y le asigno valor:
			var x=1356;
			var y=34.3;
			var z=135e6;
			var a=01357;
			var b=0x1354;
		//	con alert las muestro por pantalla:
			alert ("Numero entero" + x);
			alert ("Numero decimal" + y);
			alert ("Numero científico" + z);
			alert ("Numero octal" + a);
			alert ("Numero hexadecimal" + b);
		*/
		
		//Ejercicio 2
		//	Creo cinco variables tipo cadena:
			var nombre1="Hola";
			var nombre2="5";
			var nombre3="7";
			var nombre4="24";
			var nombre5="Adios";
			alert ('Practica 0');
			alert (nombre1 + "\n" + nombre4);
			alert (nombre2 + nombre3);
			alert (nombre1+nombre2+nombre3+nombre4+nombre5);
		</script>
	</head>
	<body>
	</body>
</html>