<!DOCTYPE html>

<!-- Author: Sonia Antón Llanes -->
<!-- Created on: 25-noviembre-2020 -->
<!-- Last modification: 08-diciembre-2020 -->
<!-- Index Ejercicios del Tema 4 DWEC -->

<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Sonia Anton Llanes - DWEC: ejercicios Tema 4</title>
        <meta name="author" content="Sonia Antón Llanes">
        <meta name="description" content="Proyecto DWEC">
        <meta name="keywords" content="">
        <link href="../../css/estilotema.css" rel="stylesheet" type="text/css">
        <link href="../../assets/images/mariposa_vintage.png" rel="icon" type="image/png">	
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    </head>
    <body class="container">
        <header class="header">
            <h1 class="h1">Desarrollo de Aplicaciones Web</h1>
        </header>
	<nav class="menu">
            <ul>
                <a href=""><li>Inicio</li></a>
                <a href=""><li>DWES</li></a>
                <a href="../../index.html"><li class="active">DWEC</li></a>
                <li>DAW</li>
                <li>DIW</li>
                <li>EIE</li>
            </ul>
	</nav>
	<main class="main">
            <section>
                <h2>Desarrollo Web Entorno Cliente</h2>
		<h3>Tema 4. Funciones, Arrays y Objetos definidos por el usuario</h3>       
                <table>
                    <tr>
                        <th><h4>Prácticas</h4></th>
                        <th>Enunciado</th>
                        <th>HTML</th>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 00 - Ejercicios Arrays</td>
                        <td class="tdimg"><a href="../../assets/statement/T4/00. Práctica 0 - Arrays.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="00/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 01 - Más Ejercicios Arrays</td>
                        <td class="tdimg"><a href="../../assets/statement/T4/01. Práctica 1- Arrays .pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="01/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 02 - Array BANCO</td>
                        <td class="tdimg"><a href="../../assets/statement/T4/02. Práctica 2 - Arrays.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="02/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 03 - Funciones Usuario</td>
                        <td class="tdimg"><a href="../../assets/statement/T4/03. Práctica 3 - Funciones usuario.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="03/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 04 - Objetos CONCESIONARIO VEHÍCULOS</td>
                        <td class="tdimg"><a href="../../assets/statement/T4/04. Práctica 4 -Objetos.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="04/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 05 - Objetos ESCUELA DE ARTE</td>
                        <td class="tdimg"><a href="../../assets/statement/T4/05. Práctica 5 -Objetos 2.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="05/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 06 - Objetos EDITORIAL</td>
                        <td class="tdimg"><a href="../../assets/statement/T4/06. Práctica 6 -Objetos 3.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="06/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica A - Lógica de Programación</td>
                        <td class="tdimg"><a href="../../assets/statement/T4/A. Práctica A - Lógica de programación.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="A/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                </table>
            </section>
        </main>
        <footer class="footer">
            <nav class="fnav">
                <ul>
                    <li class="ftexto">&copy 2020-21. Sonia Anton LLanes</li>
                    <li><a href="../../assets/docs/curriculum_SALL.pdf" target="_blank"><img src="../../assets/images/CV.png" alt="imagen_CV"></a>
                        <img src="../../assets/images/linkedin.png" alt="imagen_linkedin">
                        <a href="https://github.com/SoniaALLSauces/proyectoDWEC" target="_blank"><img src="../../assets/images/github.png" alt="imagen_github"></a>
                    </li>
                </ul>
            </nav>
        </footer>    
    </body>
</html>