/* Sonia Anton Llanes */
/* Fecha: 01/12/2020 */
/* Practica B - Objeto window.document */


.ejercicios{
	margin: 10px 20px;
}
.ejercicios>h3{
	text-decoration: underline;
}
.ejercicios button{
	margin: 5px;
	border: 2px solid grey;
	border-radius: 10px;
	width: 280px; height: 45px;
	line-height: 40px;
	text-align: center;
	font-weight: bolder;
	font-size: .95rem;
	background-color: rgb(240,140,140); 
}
