<!DOCTYPE html>

<!-- Author: Sonia Antón Llanes -->
<!-- Created on: 25-octubre-2020 -->
<!-- Index Ejercicios del Tema 2 DWEC -->

<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Sonia Anton Llanes - DWEC: ejercicios Tema 2</title>
        <meta name="author" content="Sonia Antón Llanes">
        <meta name="description" content="Proyecto DWEC">
        <meta name="keywords" content="">
        <link href="../../css/estilotema.css" rel="stylesheet" type="text/css">
        <link href="../../assets/images/mariposa_vintage.png" rel="icon" type="image/png">	
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    </head>
    <body class="container">
        <header class="header">
            <h1 class="h1">Desarrollo de Aplicaciones Web</h1>
        </header>
        <nav class="menu">
            <ul>
                <a href="../../../index.html"><li>Inicio</li></a>
                <a href="../../../proyectoDWES/indexProyectoDWES.html"><li>DWES</li></a>
                <a href="../../index.html"><li class="active">DWEC</li></a>
                <li>DAW</li>
                <li>DIW</li>
                <li>EIE</li>
            </ul>
        </nav>
        <main class="main">
            <section>
                <h2>Desarrollo Web Entorno Cliente</h2>
                <h3>Tema 2. Introducción al Lenguaje JavaScript</h3>
                            
                <table>
                    <tr>
                        <th><h4>Prácticas</h4></th>
                        <th>Enunciado</th>
                        <th>HTML</th>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 00 - Tipos de Datos</td>
                        <td class="tdimg"><a href="../../assets/statement/T2/00. Práctica 00 - Tipos de datos.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="00/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 01 - Operadores Lógicos</td>
                        <td class="tdimg"><a href="../../assets/statement/T2/01. Práctica 01 - Operadores lógicos.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="../../assets/docs/T2/01/01. Práctica 01 - Operadores lógicos.pdf"><img src="../../assets/images/pdf.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 02 - Operadores</td>
                        <td class="tdimg"><a href="../../assets/statement/T2/02. Práctica 02 Operadores.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="02/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
					<tr class="tr">
                        <td class="ejercicio">Práctica A - Operadores - Conversiones</td>
                        <td class="tdimg"><a href="../../assets/statement/T2/PRÁCTICA A - Operadores-Conversiones.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="A/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>	
					<tr class="tr">
                        <td class="ejercicio">Práctica B - Tipos, Operadores y Variables</td>
                        <td class="tdimg"><a href="../../assets/statement/T2/PRÁCTICA B - Tipos, Operadores y variables.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="B/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
					<tr class="tr">
                        <td class="ejercicio">Práctica C - Caracteres Especiales</td>
                        <td class="tdimg"><a href="../../assets/statement/T2/Practica C - Caracteres especiales.png"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="C/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 03 - Sentencias Condicionales IF</td>
                        <td class="tdimg"><a href="../../assets/statement/T2/03. Practica 03 - Sentencias condicionales IF.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="03/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
					<tr class="tr">
                        <td class="ejercicio">Práctica D - Más Sentencias Condicionales IF</td>
                        <td class="tdimg"><a href="../../assets/statement/T2/PRÁCTICA D - Sentencias condicionales IF.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="D/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 04 - Sentencias Condicionales SWITCH</td>
                        <td class="tdimg"><a href="../../assets/statement/T2/04. Práctica 04 - Setencias condicionales SWITCH.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="04/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                    <tr class="tr">
                        <td class="ejercicio">Práctica 05 - Sentencias Condicionales WHILE</td>
                        <td class="tdimg"><a href="../../assets/statement/T2/05. Práctica 05 - Sentencias condicionales WHILE.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="05/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
					<tr class="tr">
                        <td class="ejercicio">Práctica 06 - Sentencias Condicionales FOR</td>
                        <td class="tdimg"><a href="../../assets/statement/T2/06. Práctica 06 - Setencias condicionales FOR.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="06/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
					<tr class="tr">
                        <td class="ejercicio">Práctica E - Sentencias Condicionales FOR</td>
                        <td class="tdimg"><a href="../../assets/statement/T2/PRÁCTICA E.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="E/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
					<tr class="tr">
                        <td class="ejercicio">Práctica 07 - Global</td>
                        <td class="tdimg"><a href="../../assets/statement/T2/07. Práctica 07 - Global.pdf"><img src="../../assets/images/enun.png" alt="enunciado"></a></td>
                        <td class="tdimg"><a href="07/index.html"><img src="../../assets/images/html.png" alt="mostrar"></a></td>
                    </tr>
                    
                </table>
            </section>
        </main>
        <footer class="footer">
            <nav class="fnav">
                <ul>
                    <li class="ftexto">&copy 2020-21. Sonia Anton LLanes</li>
                    <li>
                        <a href="https://github.com/SoniaALLSauces/proyectoDWEC" target="_blank"><img src="../../assets/images/github.png" alt="imagen_github"></a>
                    </li>
                </ul>
            </nav>
        </footer>    
    </body>
</html>